temp
.vscode
resources/
__pycache__/
app.spec
build/
dist/
hugo_0.109.0_windows-amd64/
wiki.md
set.json
core/
grpc_ver/grpc.code-workspace
.exe
.dll
.png
.yaml
*.obj
*.log
*.png
grpc_ver/test.py
grpc_ver/Pipfile.lock
grpc_ver/Pipfile
*.ico

