[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pywebio = "*"
grpcio = "*"
grpcio-tools = "*"
tqdm = "*"
pyuac = "*"
loguru = "*"
pyinstaller = "*"
pywin32 = "*"
plyer = "*"

[dev-packages]

[requires]
python_version = "3.11"
